.datepicker {
  &:focus, &:focus-visible {
    z-index: 1;
    border-color: #63b3ed;
    box-shadow: 0 0 0 1px #63b3ed;
  }
  
  :global {
    input {
      background-color: transparent;
      border: 1px solid;
      border-color: inherit;
      padding-inline-start: var(--space-4);
      padding-inline-end: var(--space-4);
      border-radius: var(--radii-md);
      height: var(--sizes-10);
      width: 100%;

      &:focus, &:focus-visible {
        z-index: 1;
        border-color: #63b3ed;
        box-shadow: 0 0 0 1px #63b3ed;
      }
    }

    .react-datepicker__triangle {
      display: none;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day:hover {
      background-color: var(--colors-brand-500);
    }
  }
}

html[data-theme="dark"] {
  .datepicker {
    :global {
      .react-datepicker {
        & * {
          background-color: var(--colors-gray-800);
          color: var(--colors-whiteAlpha-900);
        }
      }
    }
  }
}
